.contenidoPrincipal {
  margin-top: 20px;
  margin-bottom: 20px;
}

.subtitulo {
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 10px;
  text-align: center;
}

.contenidoPrincipal-cursos-link {
  height: 100px;
  background-color: #fff;
  text-align: center;
  margin: 1%;
  transition: 0.3s;
  box-shadow: 2px 2px 2px #ccc;
  position: relative;
}

.contenidoPrincipal-cursos-link a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  display: block;
  width: 100%;
  height: 100%;
  /* position: absolute; */
  top: 0;
  left: 0;
}

.contenidoPrincipal-cursos-link:hover {
  box-shadow: 4px 4px 4px #ccc;
}

.contenidoPrincipal-cursos-link a:before {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  margin: 10px auto;
}

.contenidoPrincipal-cursos-link:nth-child(even) a:before {
  background: url(../img/background1.svg) no-repeat;
}

.contenidoPrincipal-cursos-link:nth-child(odd) a:before {
  background: url(../img/background2.svg) no-repeat;
}
