.headerPrincipal .container {
  align-items: initial;
  flex-direction: column;
}

.headerPrincipal-nav-link {
  flex-direction: column;
}

.rodapePrincipal-patrocinadores .container {
  display: flex;
  justify-content: space-between;
}

.rodapePrincipal-patrocinadores-list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 70%;
  margin-right: 5%;
}

.rodapePrincipal-contatoForm {
  width: 25%;
}

.rodapePrincipal-contatoForm-fieldset {
  display: flex;
}

.rodapePrincipal-navMap-list {
  display: flex;
  flex-direction: column;
  height: 250px;
  flex-wrap: wrap;
}

.contenidoPrincipal-cursos {
  display: flex;
  flex-wrap: wrap;
}

.contenidoPrincipal-cursos-link {
  display: flex;
  border-radius: 10px;
  width: 23%;
}

.rodapePrincipal-contatoForm {
  width: 25%;
}

.videoSobre .container {
  display: flex;
}

.videoSobre-sobre {
  display: flex;
  flex-direction: column;
  flex-grow: 4;
  justify-content: center;
  text-align: center;
}

/* .videoSobre-sobre .videoSobre-sobre-title {
  flex-shrink: 2;
} */

.videoSobre-video {
  flex-grow: 2;
  flex-shrink: 2;
}

.videoSobre-sobre-list {
  flex-grow: 2;
}