.rodapePrincipal {
  background-color: #324c64;
  padding-top: 20px;
}

.rodapePrincipal .subtitulo {
  color: #fff;
}

.rodapePrincipal-navMap-link {
  text-decoration: none;
  color: #fff;
  margin-top: 10px;
}

.rodapePrincipal-navMap-link:hover {
  color: yellow;
  font-style: italic;
  font-weight: bold;
}

.rodapePrincipal-navMap-link {
  font-size: 0.9em;
}

.navmap-list-title {
  font-weight: 700;
  font-size: 1.3em;
  margin: 0.9em 0;
  padding-left: 0.3em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}

.navmap-list-title + .rodapePrincipal-navMap-link {
  margin-top: 0;
}

.navmap-list-title-bancoDeDados {
  color: #ec6e5a;
  border-left: 4px solid #ec6e5a;
}
.navmap-list-title-framework {
  color: #ad85bf;
  border-left: 4px solid #ad85bf;
}
.navmap-list-title-frontend {
  color: #5ec6f3;
  border-left: 4px solid #5ec6f3;
}
.navmap-list-title-backend {
  color: #25d285;
  border-left: 4px solid #25d285;
}

.rodapePrincipal-patrocinadores {
  margin-top: 30px;
  background: #f2f5f7;
  padding: 20px 0;
}

.rodapePrincipal-contatoForm {
  margin-top: 20px;
  text-align: center;
}

.rodapePrincipal-contatoForm label[for="email-contato"] {
  font-weight: bold;
  font-size: 14px;
  color: #000;
  margin-bottom: 5px;
  display: block;
}

.rodapePrincipal-contatoForm-emailInput {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 10px;
}

.rodapePrincipal-contatoForm-submit {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #4dba7a;
  color: #fff;
  cursor: pointer;
  padding: 10px;
}

.rodapePrincipal-contatoForm-submit,
.rodapePrincipal-contatoForm-emailInput {
  outline: 0;
  border: 1px solid #4dba7a;
  box-sizing: border-box;
  font-size: 16px;
}

.rodapePrincipal-contatoForm-legend {
  margin-bottom: 10px;
  font-weight: bold;
}
