.container {
	width: 94%;
	margin: 0 auto;
}

.headerPrincipal {
	background-color: #FFFFFF;
	padding: 20px 0;
}

.headerPrincipal-titulo {
	font-weight: bold;
	font-size: 2em;
	margin-bottom: 20px;
}

.headerPrincipal-titulo a {
	text-decoration: none;
	color: inherit;
}

.headerPrincipal-nav-link {
	padding: 8px;
	margin-bottom: 10px;
	color: #9799A6;
	background-color: #FFF;
	text-decoration: none;
	transition: .4s;
	display: block;
	/* border: 2px solid black; */
}