@media (min-width: 0px) {
  .headerPrincipal .container {
    align-items: initial;
    flex-direction: column;
  }

  .headerPrincipal-nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .contenidoPrincipal-cursos {
	flex-direction: column;
  }
  
  .contenidoPrincipal-cursos-link {
	width: 100%;
  }

  .headerPrincipal-nav-link {
    font-weight: bold;
    color: white;
    font-size: 1rem;
    text-align: center;
    margin: 1px 10px 0 0;
    padding-left: 3px;
  }

  .headerPrincipal-nav-link:hover {
    color: yellow;
  }

  .rodapePrincipal-navMap-list {
	height: auto;
	flex-wrap: nowrap;
  }

  .rodapePrincipal-patrocinadores .container {
	  flex-direction: column;
  }

  .rodapePrincipal-contatoForm {
	  width: 100%;
  }

  .rodapePrincipal-patrocinadores-list {
	  align-items: center;
	  width: 100%;
	  margin: 0;
  }

  .rodapePrincipal-contatoForm-legend {
	text-align: center;
  }

  .rodapePrincipal-contatoForm-fieldset {
	  justify-content: center;
  }
}

@media (min-width: 769px) {
  .container {
    width: 85%;
  }

  .subtitulo {
    text-align: left;
  }

  .headerPrincipal-nav-link {
    font-weight: bold;
    color: white;
    text-align: center;
    font-size: 0.85rem;
    margin: 10px 10px 3px 0;
    padding-left: 10px;
  }

  .headerPrincipal-nav-link:hover {
    color: yellow;
  }

  .headerPrincipal-titulo {
    margin: 0;
  }

  .headerPrincipal-nav {
    width: auto;
    display: flex;
    flex-direction: row;
  }

  .rodapePrincipal-contatoForm {
    margin-top: 0;
    text-align: left;
  }

  .contenidoPrincipal-cursos-link:nth-child(3n) {
    margin-right: 0;
  }

  .contenidoPrincipal-cursos-link:nth-child(3n + 1) {
    margin-left: 0;
  }

  .headerPrincipal .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .contenidoPrincipal-cursos {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
  }
  
  .contenidoPrincipal-cursos-link {
	display: flex;
	border-radius: 10px;
	width: 23%;
  }

  .rodapePrincipal-navMap-list {
	display: flex;
	flex-direction: column;
	height: 250px;
	flex-wrap: wrap;
  }

  .rodapePrincipal-patrocinadores .container {
	flex-direction: row;
}

.rodapePrincipal-contatoForm {
	width: 25%;
}

.rodapePrincipal-patrocinadores-list {
	align-items: center;
}

.rodapePrincipal-contatoForm-legend {
	text-align: left;
  }
}

@media (min-width: 1000px) {
  .contenidoPrincipal-cursos-link {
    margin: 1.333%;
  }

  .contenidoPrincipal-cursos-link:nth-child(3n) {
    margin-right: 1.33%;
  }

  .contenidoPrincipal-cursos-link:nth-child(3n + 1) {
    margin-left: 1.333%;
  }

  .contenidoPrincipal-cursos-link:nth-child(4n) {
    margin-right: 0;
  }

  .contenidoPrincipal-cursos-link:nth-child(4n + 1) {
    margin-left: 0;
  }

  .videoSobre-sobre {
    margin-left: 1.5em;
  }

  .headerPrincipal-nav-link {
    font-weight: bold;
    color: white;
    text-align: center;
    font-size: 0.85rem;
    margin: 10px 10px 3px 0;
    padding-left: 10px;
  }

  .headerPrincipal-nav-link:hover {
    color: yellow;
  }

  .headerPrincipal .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .contenidoPrincipal-cursos {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
  }
  
  .contenidoPrincipal-cursos-link {
	display: flex;
	border-radius: 10px;
	width: 23%;
  }

  .rodapePrincipal-navMap-list {
	display: flex;
	flex-direction: column;
	height: 250px;
	flex-wrap: wrap;
  }

  .rodapePrincipal-patrocinadores .container {
	flex-direction: row;
}

.rodapePrincipal-contatoForm {
	width: 25%;
}

.rodapePrincipal-patrocinadores-list {
	align-items: center;
}

.rodapePrincipal-contatoForm-legend {
	text-align: left;
  }
}
